.row{
    text-align: center;
}

.dot{
    background-color: blue;
    display: inline-block;
    border-radius: 100%;
    margin: 2rem;
    width: 10px;
    height: 10px;
}

.full{
    border-radius: 100%;
    margin-left: 1.5rem;
    width: 25px;
    height: 25px;
    background-color: green;
}

.highlight{
    box-shadow: 0 0 5px 7px rgb(241, 211, 11);
}
